fastapi==0.115.0
uvicorn==0.30.6
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.9
sqlalchemy==2.0.35
psycopg2-binary==2.9.9
livekit-api==0.7.1
pydantic==2.9.2
python-dotenv==1.0.1
